# Discord
TOKEN= "YOUR_BOT_TOKEN"
APPID= "YOUR_APPLICATION_ID"
GUILDID= "THE_GUILD_ID(FOR_DEVELOPMENT)"


# LavaLink
HOST=""
PORT=2333
PASSWORD=""

#Spotify --> https://developer.spotify.com/dashboard/
CLIENTID=""
CLIENTSECRET=""

# Better Uptime
URL=""
