# Discord
TOKEN= "YOUR_BOT_TOKEN"
APPID= "YOUR_APPLICATION_ID"
GUILDID= "THE_GUILD_ID(FOR_DEVELOPMENT)"

# Database
DB_HOST="localhost"
DB_PORT=3306
DB_USERNAME=""
DB_DATABASE=""
DB_PASSWORD=""

# LavaLink
LL_HOST=""
LL_PORT=2333
LL_PASSWORD=""
LL_SECURE=false

# Spotify --> https://developer.spotify.com/dashboard/
CLIENTID=""
CLIENTSECRET=""

# Better Uptime (Optional) see https://betteruptime.com
URL=""

# Grafana --> https://grafana.com/
# If disabled, the database tables will still generate, however no data is being collected
# If enabled, Golden tracks the amount current listeners and players and save them to the database for Grafana
GRAFANA_ENABLED=false
