# .env template for Golden 4.3

# Start by copying this file and renaming it to config.env
# The template.env file might change on updates

# Golden
GOLDEN_HEADER="https://cdn.discordapp.com/attachments/911271717492621343/914553180883406898/bg2v3.png"
GOLDEN_EMBED_THUMBNAIL="https://cdn.discordapp.com/attachments/911271717492621343/912002185267646544/bg4.png"
GOLDEN_EMBED_TITLE="<:musicnote:930887306045435934> | No song is being played"
GOLDEN_EMBED_DESCRIPTION="[Bot Invite](https://golden.invite.spasten.studio/) | [Dashboard](https://golden.spasten.studio) | [Commands](https://golden.spasten.studio) | [Support](https://discord.gg/PX28nyVgdP)"
GOLDEN_EMBED_MESSAGE="\n__**Queue:**__\nJoin a Voice Channel and add a Song or a Playlist"

# Discord API see https://discord.com/developers/
DISCORD_TOKEN=""
DISCORD_APPID=""

DISCORD_GLOBAL_COMMANDS=true
DISCORD_GUILDID=""

# MySQL / MariaDB
DB_HOST="localhost"
DB_PORT=3306
DB_USERNAME=""
DB_DATABASE=""
DB_PASSWORD=""

# LavaLink see https://github.com/freyacodes/Lavalink
LAVALINK_HOST="localhost"
LAVALINK_PORT=2333
LAVALINK_PASSWORD=""
LAVALINK_SSL=false

# Spotify see https://developer.spotify.com/dashboard/
SPOTIFY_ENABLED=false
SPOTIFY_CLIENTID=""
SPOTIFY_CLIENTSECRET=""

# Better Uptime see https://betteruptime.com/
BETTERUPTIME_ENABLED=false
BETTERUPTIME_HEARTBEAT_URL=""
BETTERUPTIME_TIME=1
BETTERUPTIME_TIME_TYPE="minute"

# Analytics
# Golden tracks the amount of current listeners and players and save them to the database
# You might use a service like https://grafana.com/ to display the data inside an dashboard
ANALYTICS_ENABLED=false
